[Unit]
Description=GitOps with ansible-pull
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ansible-pull -o -U https://github.com/tyriis/ansible-laptop.git

[Install]
WantedBy=ansible-pull.target
